html, body, main, header, footer, section, div {
  padding: 0;
  margin: 0;
}

body, main {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}

p {
  width: 50vw;
  height: 100px;
  background-color: salmon;
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: tomato;
}